/** Game's CSS rules go here.
 *  This is not the best practice to use CSS Resources in GWT. 
 *  You should use CssResource in order to reduce the HTTP round-trip calls & to perform GWT "minification". 
 */
.game-panel {
	margin: auto ;
}

.game-canvas {
	background: center ;
	background-image: url("imgs/bg.jpg") ;
	background-repeat: no-repeat;
	width: 100% ;
	position: absolute ;
}

.restart-button {
	border: 		solid 5px;
	border-color: 	#FA5A78;
	font-weight: 	bold;
	margin-left: 	490px;
	margin-top: 	240px;
	padding: 		15px;
	position: 		fixed;
}